# ignore backup files
*~

# ignore vi swapfiles
.*.swp

# ignore compiled python
*pyc

# ignore some backup files
*bak

# output
fpga/de1/db/
fpga/de1/incremental_db/
fpga/de1/out/
fw/ctrl/bin/
fw/ctrl_boot/bin/
rel
